/* Mise en forme globale */
*{
    margin: 0;
}

.container{
    text-align: center;
}

:root{
    --spacing: 0.5em;
    --color-title: #BB774A;
    --background-color: rgba(217, 165, 106, 0.35);
    --color-text: black;
}

/* Titres et polices */
.salutation_accueil{
    color: var(--color-text);
}

.name_person{
    color:var(--color-title);
}

h1, h2, h3, h4, h5, h6, p{
    padding: var(--spacing);
}

/* Header */
#photo-creatrice{
    max-width: 30%;
}

.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background-color: var(--background-color);
}

body button{
    border-radius: 7em;
    border: solid var(--color-title);
    background-color: var(--background-color);
}

header>div{
    padding: var(--spacing);
}

/* Accueil - Section 1 - Dernières nouveautés */
.card img{
    max-width: 100%;
    object-fit: cover;
}

.carte{
    display: flex;
    justify-content: space-evenly;
}

.card-body-article{
    background-color: var(--background-color);
}

.carte>div{
    border: solid var(--color-title);
}

