/* Mise en forme globale */
*{
    margin: 0;
}

.container{
    text-align: center;
}

:root{
    --spacing: 0.7em;
    --color-title: #BB774A;
    --background-color: rgba(217, 165, 106, 0.35);
    --color-text: black;
}

/* Titres et polices */
.salutation_accueil{
    color: var(--color-text);
}

.name_person{
    color:var(--color-title);
}

body p{
    padding: var(--spacing);
    margin: 0 0.7em;
}

/* Header */
#photo-creatrice{
    max-width: 30%;
}

.presentation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-title);
}

header{
    background-color: var(--background-color);
}

body button{
    border-radius: 7em;
    border: solid var(--color-title);
    background-color: var(--background-color);
}

header>div{
    padding: var(--spacing);
}

/* Accueil - Section 1 - Dernières nouveautés */
.card img{
    max-width: 100%;
    object-fit: cover;
}

.carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--spacing);
}

.card-body-article{
    background-color: var(--background-color);
}

.carte>div{
    border: solid var(--color-title);
    margin: var(--spacing);
    max-height: 50%;
}

#dernieres_creations{
    color: var(--color-title);
    padding: var(--spacing); 
}

h3.card-title{
    color: var(--color-title)
}

.link{
    text-decoration: none;
    color: var(--color-title);
    font-weight: 600;
}

/* Accueil - Section 2 - Vidéo */

#video_explicative{
    color: var(--color-title);
    padding-top: var(--spacing);
}

.explication_macrame{
    background-color: var(--background-color);
}

video{
    max-width: 95%;
    padding-bottom: var(--spacing);
}

/* Footer */

.logos{
    display: flex;
    justify-content: space-evenly;

}

.logos img{
    width: 10%;
}