/* Mise en forme globale */
* {
  margin: 0;
}

.container {
  text-align: center;
}

:root {
  --spacing: 0.7em;
  --color-title: #bb774a;
  --background-color: rgba(217, 165, 106, 0.35);
  --color-text: black;
}

/* Titres et polices */
.salutation_accueil {
  color: var(--color-text);
}

#name_person {
  color: var(--color-title);
}

body p {
  padding: var(--spacing);
  margin: 0 0.7em;
}

/* Barre de navigation */

.navbar {
  background-color: #fff;
}

#navigate {
  display: none;
}

/* Header */
#photo-creatrice {
  max-width: 30%;
}

.presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-title);
}

.header_accueil {
  background-color: var(--background-color);
}

body button {
  border-radius: 7em;
  border: solid var(--color-title);
  background-color: var(--background-color);
}

header > div {
  padding: var(--spacing);
}

/* Accueil - Section 1 - Dernières nouveautés */
.card img {
  max-width: 100%;
  object-fit: cover;
}

.carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing);
}

.card-body-article {
  background-color: var(--background-color);
}

.carte > div {
  border: solid var(--color-title);
  margin: var(--spacing);
  max-height: 50%;
}

#dernieres_creations {
  color: var(--color-title);
  padding-top: var(--spacing);
}

h3.card-title {
  color: var(--color-title);
}

.link {
  text-decoration: none;
  color: var(--color-title);
  font-weight: 600;
}

/* Accueil - Section 2 - Vidéo */

#video_explicative {
  color: var(--color-title);
  padding-top: var(--spacing);
}

.explication_macrame {
  background-color: var(--background-color);
}

video {
  max-width: 95%;
  padding-bottom: var(--spacing);
}

/* Footer */

.liens_footer {
  padding: var(--spacing) 0;
}

.liens_footer p {
  padding: 0.2em;
}

.logos {
  display: flex;
  justify-content: space-evenly;
}

.logos a img {
  height: 2em;
}

#retourhaut {
  width: 2rem;
  opacity: 0.5;
  position: fixed;
  right: 1em;
  bottom: 1em;
}

footer {
  margin-bottom: var(--spacing);
}

/* Page d'articles */

#h1color {
  color: var(--color-title);
}

.tarif {
  color: var(--color-title);
  font-weight: 500;
}

@media screen and (min-width: 720px) {
  .presentation {
    display: inline;
    padding-bottom: 0.2em;
  }
  #photo-creatrice {
    padding-bottom: var(--spacing);
  }
  .carte {
    flex-direction: row;
  }
  .explication_macrame {
    display: flex;
    align-items: center;
    padding: var(--spacing);
  }

  #navigate {
    display: flex;
  }

  #navigate li {
    display: inline-block;
    padding: var(--spacing);
  }

  .navbar-toggler {
    display: none;
  }

  .carte {
    display: inline;
  }

  .card-contenu {
    display: flex;
    flex-direction: row;
  }

  .card-body-article{
    justify-content: flex-end;
  }
}